@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
     padding: 0px;
     box-sizing: border-box;
}

/* Start of Background CSS */

@-webkit-keyframes bg-scrolling-reverse {
     100% {
          background-position: 50px 50px;
     }
}

@-moz-keyframes bg-scrolling-reverse {
     100% {
          background-position: 50px 50px;
     }
}

@-o-keyframes bg-scrolling-reverse {
     100% {
          background-position: 50px 50px;
     }
}

@keyframes bg-scrolling-reverse {
     100% {
          background-position: 50px 50px;
     }
}

@-webkit-keyframes bg-scrolling {
     0% {
          background-position: 50px 50px;
     }
}

@-moz-keyframes bg-scrolling {
     0% {
          background-position: 50px 50px;
     }
}

@-o-keyframes bg-scrolling {
     0% {
          background-position: 50px 50px;
     }
}

@keyframes bg-scrolling {
     0% {
          background-position: 50px 50px;
     }
}

/* Main styles */
body {
     padding-top: 5%;
     color: #282e44;
     font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
     text-align: center;
     /* img size is 50x50 */
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
     -webkit-animation: bg-scrolling-reverse 0.92s infinite;
     /* Safari 4+ */
     -moz-animation: bg-scrolling-reverse 0.92s infinite;
     /* Fx 5+ */
     -o-animation: bg-scrolling-reverse 0.92s infinite;
     /* Opera 12+ */
     animation: bg-scrolling-reverse 0.92s infinite;
     /* IE 10+ */
     -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
     -o-animation-timing-function: linear;
     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

body::before {
     font-size: 10rem;
     font-weight: 200;
     font-style: normal;
}

/* End of BG CSS */

h1 {
     font-size: 800%;
     padding: 1%;
     background-color: rgba(0, 0, 0, 0.100);
     width: 75vw;
     border-radius: 20px;
     margin-left: 7vw;
}

.content {
     position: relative;
     bottom: 5vh;
     display: flex;
     margin-left: 8vw;
     width: 75vw;
}

.links {
     width: 35%;
     text-align: left;
     margin: 5%;
}

a {
     text-decoration: none
}

.text {
     width: 40vw;
     text-align: justify;
     font-family: 'Poppins', sans-serif;
}

img {
     width: 10%;
     margin: 0% 2.5%;
}

.btn-a {
     border: 3px solid rgb(48, 75, 98);
     border-radius:10px ;
     padding: 0.9%;
     color:#282e44;
     font-family:'Poppins', sans-serif;
     width: 20vw;
     margin: 0% 4%;
}

.h1Container{
     width: 100vw;
     text-align: center;
     align-items: center;
}
 main{
     background-color: rgba(0, 0, 0, 0.030);
     margin: 0vw 9vh;
     padding:1%;
     scale: 0.9;
     height:80vh;
     border-radius:15px;
 }
.bts{
     display: flex;
     flex-direction:row;
     width: fit-content;
     margin-left: 5%;
}
.btn-a:hover{
     background-color: rgba(0, 0, 0, 0.15);
     scale: 1.1;
     transition: ease 0.5s;
}